# backend/requirements.txt
fastapi==0.99.1
uvicorn[standard]==0.30.1
SQLAlchemy==2.0.30
alembic==1.13.2
python-dotenv==1.0.1
pydantic==1.10.15
gunicorn==22.0.0
python-dateutil==2.9.0.post0
passlib[bcrypt]==1.7.4
PyJWT==2.9.0
sqladmin==0.16.0